
<!--
  ~ Copyright (c) 2015 Center for Open Middleware
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header view-title" id="mh-title"></h1>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-lg-12">-->
        <!--<h1 id="mh-title" class="page-header">Historical Data 1-2</h1>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.col-lg-12 &ndash;&gt;-->
<!--</div>-->
<div class="row">
    <!--<div class="col-lg-12" id="realTime">-->
    <div class="col-lg-12">
        <div class="col-lg-6 dashboard-template mh-panel">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="mh-panel" />
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div style="display: none">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Historical Data: Optimizer 2 - Compression
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<div class="flot-chart">
                           <div class="flot-chart-content" id="flot-line-chart-moving" >-->
                        <div class="" id="mh-panel" >
                            <img id="reload2" src="http://10.250.0.22:8060/solowan/monitor/monitoro2/monitoro2/optimizadorC-day.png" alt="Historical Data Optimizer 1" class="munin-graph-img" >
                        </div>
                        <!-- </div>

                   </div>-->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Historical Data: Optimizer 1 - Compression
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<div class="flot-chart">
                            <!-- <div class="flot-chart-content" id="flot-bar-chart"> -->
                        <div class="" id="mh-panel">
                            <img id="reload7" src="http://10.250.0.22:8060/solowan/monitor/monitoro1/monitoro1/optimizadorC-day.png" alt="Historical Data Optimizer 2" class="munin-graph-img" >
                        </div>
                        <!-- </div>
                    </div>-->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Historical Data: Optimizer 2 - Decompression
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--<div class="flot-chart">
                            <!-- <div class="flot-chart-content" id="flot-bar-chart"> -->
                        <div class="" id="mh-panel">
                            <img id="reload8" src="http://10.250.0.22:8060/solowan/monitor/monitoro2/monitoro2/optimizadorD-day.png" alt="Historical Data Optimizer 1" class="munin-graph-img" >
                        </div>
                        <!-- </div>
                    </div>-->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
    <!-- /.row -->
</div>
