<!--  Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="row placeholders">
    <div class="col-xs-12 col-sm-12">
        <h2>Welcome to SoloWAN Project</h2>
        <p>OpenNOP-SoloWAN is an enhanced version of the Open Network Optimization Platform (OpenNOP). OpenNOP-SoloWAN implements a modern dictionary based compression algorithm to add deduplication capabilities to OpenNOP.</p>

        <p>SoloWAN is a project of the Center for Open Middleware (COM) of Universidad Politécnica de Madrid which aims to experiment with open-source based WAN optimization solutions.</p>

        <p>OpenNOP-SoloWAN is distributed as free software under GPL version 3 license.<br/> Copyright (C) 2014 OpenNOP.org (yaplej@opennop.org) for the original OpenNOP code. <br/> Copyright (C) 2014 Center for Open Middleware (COM) for the added modules and the modifications to the OpenNOP original code.<br/><br/>SoloWAN: <br/>&nbsp;&nbsp;&nbsp;solowan@centeropenmiddleware.com <br/>&nbsp;&nbsp;&nbsp;https://github.com/centeropenmiddleware/solowan/ <br/><br/> OpenNOP: <br/>&nbsp;&nbsp;&nbsp;http://www.opennop.org <br/><br/> Center for Open Middleware (COM):<br/>&nbsp;&nbsp;&nbsp; http://www.centeropenmiddleware.com <br/><br/> Universidad Politecnica de Madrid (UPM):<br/>&nbsp;&nbsp;&nbsp http://www.upm.es </p>
    </div>
</div>
